################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SmartSetList/FileContentIndex/1ebbc02a-be2b-4e29-aac5-4b6b2b3456c9.vsidx
/.vs/SmartSetList/FileContentIndex/896f8682-1f4c-420e-b472-271358f5185e.vsidx
/.vs/SmartSetList/FileContentIndex/997ff4e3-c8ef-4c5a-bd13-efba1db486c5.vsidx
/.vs/SmartSetList/v17/.suo
/.vs/SmartSetList/v17/DocumentLayout.backup.json
/API/bin/Debug/net8.0/API.deps.json
/API/bin/Debug/net8.0/API.dll
/API/bin/Debug/net8.0/API.exe
/API/bin/Debug/net8.0/API.pdb
/API/bin/Debug/net8.0/API.runtimeconfig.json
/API/bin/Debug/net8.0/API.staticwebassets.endpoints.json
/API/bin/Debug/net8.0/Microsoft.OpenApi.dll
/API/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
/API/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/API/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/API/bin/Debug/net8.0/appsettings.Development.json
/API/bin/Debug/net8.0/appsettings.json
/API/obj/Debug/net8.0/ref/API.dll
/API/obj/Debug/net8.0/refint/API.dll
/API/obj/Debug/net8.0/API.AssemblyInfo.cs
/API/obj/Debug/net8.0/API.AssemblyInfoInputs.cache
/API/obj/Debug/net8.0/API.csproj.CoreCompileInputs.cache
/API/obj/Debug/net8.0/API.csproj.FileListAbsolute.txt
/API/obj/Debug/net8.0/API.csproj.Up2Date
/API/obj/Debug/net8.0/API.dll
/API/obj/Debug/net8.0/API.genruntimeconfig.cache
/API/obj/Debug/net8.0/API.MvcApplicationPartsAssemblyInfo.cache
/API/obj/Debug/net8.0/API.MvcApplicationPartsAssemblyInfo.cs
/API/obj/Debug/net8.0/API.pdb
/API/obj/Debug/net8.0/API.sourcelink.json
/API/obj/Debug/net8.0/apphost.exe
/API/obj/Debug/net8.0/rjsmcshtml.dswa.cache.json
/API/obj/Debug/net8.0/rjsmrazor.dswa.cache.json
/API/obj/Debug/net8.0/staticwebassets.build.endpoints.json
/API/obj/Debug/net8.0/staticwebassets.build.json
/API/obj/Debug/net8.0/staticwebassets.build.json.cache
/API/obj/Debug/net8.0/staticwebassets.references.upToDateCheck.txt
/SmartSetList/bin/Debug/net8.0/appsettings.Development.json
/SmartSetList/bin/Debug/net8.0/appsettings.json
/SmartSetList/bin/Debug/net8.0/SmartSetList.deps.json
/SmartSetList/bin/Debug/net8.0/SmartSetList.dll
/SmartSetList/bin/Debug/net8.0/SmartSetList.exe
/SmartSetList/bin/Debug/net8.0/SmartSetList.pdb
/SmartSetList/bin/Debug/net8.0/SmartSetList.runtimeconfig.json
/SmartSetList/bin/Debug/net8.0/SmartSetList.staticwebassets.endpoints.json
/SmartSetList/bin/Debug/net8.0/SmartSetList.staticwebassets.runtime.json
/SmartSetList/obj/Debug/net8.0/ref/SmartSetList.dll
/SmartSetList/obj/Debug/net8.0/refint/SmartSetList.dll
/SmartSetList/obj/Debug/net8.0/scopedcss/bundle/SmartSetList.styles.css
/SmartSetList/obj/Debug/net8.0/scopedcss/projectbundle/SmartSetList.bundle.scp.css
/SmartSetList/obj/Debug/net8.0/scopedcss/Views/Shared/_Layout.cshtml.rz.scp.css
/SmartSetList/obj/Debug/net8.0/apphost.exe
/SmartSetList/obj/Debug/net8.0/rjimswa.dswa.cache.json
/SmartSetList/obj/Debug/net8.0/rjsmcshtml.dswa.cache.json
/SmartSetList/obj/Debug/net8.0/rjsmrazor.dswa.cache.json
/SmartSetList/obj/Debug/net8.0/rpswa.dswa.cache.json
/SmartSetList/obj/Debug/net8.0/SmartSetList.AssemblyInfo.cs
/SmartSetList/obj/Debug/net8.0/SmartSetList.AssemblyInfoInputs.cache
/SmartSetList/obj/Debug/net8.0/SmartSetList.csproj.CoreCompileInputs.cache
/SmartSetList/obj/Debug/net8.0/SmartSetList.csproj.FileListAbsolute.txt
/SmartSetList/obj/Debug/net8.0/SmartSetList.dll
/SmartSetList/obj/Debug/net8.0/SmartSetList.genruntimeconfig.cache
/SmartSetList/obj/Debug/net8.0/SmartSetList.MvcApplicationPartsAssemblyInfo.cache
/SmartSetList/obj/Debug/net8.0/SmartSetList.pdb
/SmartSetList/obj/Debug/net8.0/SmartSetList.sourcelink.json
/SmartSetList/obj/Debug/net8.0/staticwebassets.build.endpoints.json
/SmartSetList/obj/Debug/net8.0/staticwebassets.build.json
/SmartSetList/obj/Debug/net8.0/staticwebassets.build.json.cache
/SmartSetList/obj/Debug/net8.0/staticwebassets.development.json
/SmartSetList/obj/Debug/net8.0/staticwebassets.references.upToDateCheck.txt
/SmartSetList/obj/Debug/net8.0/staticwebassets.upToDateCheck.txt
/Utils/bin/Debug/net8.0/Utils.deps.json
/Utils/bin/Debug/net8.0/Utils.dll
/Utils/bin/Debug/net8.0/Utils.pdb
/Utils/obj/Debug/net8.0/ref/Utils.dll
/Utils/obj/Debug/net8.0/refint/Utils.dll
/Utils/obj/Debug/net8.0/Utils.AssemblyInfo.cs
/Utils/obj/Debug/net8.0/Utils.AssemblyInfoInputs.cache
/Utils/obj/Debug/net8.0/Utils.csproj.CoreCompileInputs.cache
/Utils/obj/Debug/net8.0/Utils.csproj.FileListAbsolute.txt
/Utils/obj/Debug/net8.0/Utils.dll
/Utils/obj/Debug/net8.0/Utils.pdb
/Utils/obj/Debug/net8.0/Utils.sourcelink.json
/.vs/SmartSetList/CopilotIndices/17.14.1231.31060
/.vs/SmartSetList/FileContentIndex
/.vs/SmartSetList/v17/DocumentLayout.json
/API/obj/Debug/net8.0/API.assets.cache
/API/obj/Debug/net8.0/API.csproj.AssemblyReference.cache
/API/obj/API.csproj.nuget.dgspec.json
/API/obj/project.assets.json
/API/obj/project.nuget.cache
/Config/obj/Debug/net8.0
/Config/obj
/Utils/obj/Debug/net8.0/Utils.assets.cache
/Utils/obj/Debug/net8.0/Utils.csproj.AssemblyReference.cache
/Utils/obj/project.assets.json
/Utils/obj/project.nuget.cache
/Utils/obj/Utils.csproj.nuget.dgspec.json
/.vs/SmartSetList/DesignTimeBuild/.dtbcache.v2
/.vs
/.vs/SmartSetList/v17/.futdcache.v2
/API/bin/Debug/net8.0/Microsoft.Extensions.Configuration.Abstractions.dll
/API/bin/Debug/net8.0/Microsoft.Extensions.Primitives.dll
/API/bin/Debug/net8.0/RandomString4Net.dll
/API/bin/Debug/net8.0/Utils.dll
/API/bin/Debug/net8.0/Utils.pdb
/API/obj/Debug/net8.0/API.csproj.BuildWithSkipAnalyzers
/API/obj/Debug/net8.0/ApiEndpoints.json
/API/obj/Debug/net8.0/EndpointInfo/API.json
/API/obj/Debug/net8.0/EndpointInfo/API.OpenApiFiles.cache
/API/obj/Debug/net8.0/rpswa.dswa.cache.json
/Utils/obj/Debug/net8.0/Utils.csproj.BuildWithSkipAnalyzers
